@-webkit-keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.console-style-retro {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
}

.console-style-retro * {
    color: white;
    font: 1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

.console-style-retro .pong:after {
    background-color: #FFFFFF;
}

.console-style-retro::selection {
    background: #0080FF;
    text-shadow: none;
}

.console-style-retro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            0deg,
            rgba(0,0,0, 0.15),
            rgba(0,0,0, 0.15) 1px,
            transparent 1px,
            transparent 2px
    );
}

.console-style-default {
    background-color: black;
}

.console-style-default * {
    color: #1ff042;
    font-family: 'AndaleMono', monospace;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
}

.console-style-default .pong:after {
    background-color: #1ff042;
}

.terminal {
    position: relative;
    padding: 4rem;
}

.terminal .prompt {
    display: block;
    white-space: pre-wrap;
    line-height: 1;
    margin-bottom: 0.75em;
}
.terminal .prompt:before {
    content: '> ';
    display: inline-block;
}

.console-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    /*color: #1ff042;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: calc(100% - 2em);
    text-decoration: none;
    pointer-events: none;
    resize: none;
}

.console-input-wrapper:before {
    content: '> ';
}

/*ping pong*/

@-webkit-keyframes ball {
    0% {
        top: 50%;
        left: 0%;
    }
    20% {
        top: 25%;
        left: 25%;
    }
    30% {
        top: 50%;
        left: 50%;
    }
    40% {
        top: 75%;
        left: 75%;
    }
    50% {
        top: 50%;
        left: 100%;
    }
    60% {
        top: 75%;
        left: 75%;
    }
    70% {
        top: 50%;
        left: 50%;
    }
    80% {
        top: 25%;
        left: 25%;
    }
    100% {
        top: 50%;
        left: 0%;
    }
}
@keyframes ball {
    0% {
        top: 50%;
        left: 0%;
    }
    20% {
        top: 25%;
        left: 25%;
    }
    30% {
        top: 50%;
        left: 50%;
    }
    40% {
        top: 75%;
        left: 75%;
    }
    50% {
        top: 50%;
        left: 100%;
    }
    60% {
        top: 75%;
        left: 75%;
    }
    70% {
        top: 50%;
        left: 50%;
    }
    80% {
        top: 25%;
        left: 25%;
    }
    100% {
        top: 50%;
        left: 0%;
    }
}
@-webkit-keyframes raketes {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    25% {
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }
    80% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes raketes {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    25% {
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }
    80% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.pong {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 50px;
}
.pong:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    -webkit-animation: ball 6s linear infinite;
    animation: ball 6s linear infinite;
}
.pong b {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.pong b.left {
    left: -10px;
    -webkit-animation: raketes 5s ease-in-out infinite;
    animation: raketes 5s ease-in-out infinite;
}
.pong b.right {
    right: -10px;
    -webkit-animation: raketes 5s ease-in-out 0.5s infinite;
    animation: raketes 5s ease-in-out 0.5s infinite;
}